<ng-container *ngIf="!(!!topicId) else listDocuments">
    <section>
        <div class="message">
            <h2 class="no-documents">Selecione um tópico</h2>
        </div>
    </section>
</ng-container>

<ng-template #listDocuments>
    <section>
        <div class="message">
            <!--        <h2 class="no-documents" *ngIf="!topicId">Selecione um tópico</h2>-->
            <h2 class="no-documents" *ngIf="documents.length === 0">Não há anotações para esse tópico</h2>
        </div>

        <div class="grid-container">
            <div *ngFor="let doc of documents" class="card-container">
                <mat-card class="card" >
                    <mat-card-title class="title">{{ doc.title }}</mat-card-title>

                    <mat-card-content class="content">
                        <span>{{ doc.content }}</span>
                    </mat-card-content>

                    <mat-divider inset></mat-divider>

                    <mat-card-actions>
                        <button mat-button>Editar</button>
                        <button mat-button>Excluir</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <div class="button-container">
            <button mat-button (click)="handleNextTopicViewButton()" color="primary">Cadastrar documento</button>
        </div>
    </section>
</ng-template>
