<div id="login-container">
  <div class="banner-container">
    <main>
      <img src="assets/docs.svg">
      <h1>Learning Docs!</h1>
    </main>
  </div>  

  <div class="form-container">
    <main>
      <header>
        <h2>
          Fazer login
        </h2>
  
        <a [routerLink]="['/signup']">Criar uma conta</a>
      </header>
  
      <div class="input-container">
        <mat-form-field>
          <input matInput [(ngModel)]="user.email" placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="user.password" placeholder="Senha" type="password">
        </mat-form-field>
      </div>
  
      <button mat-button (click)="login()">Entrar</button>
    </main>
  </div>
</div>
