<div id="login-container">
  <div class="banner-container">
    <main>
      <img src="assets/docs.svg">
      <h1>Learning Docs!</h1>
    </main>
  </div>  

  <div class="form-container">
    <main>
      <header>
        <h2>
          Fazer login
        </h2>
  
        <a [routerLink]="['/signup']">Criar uma conta</a>
      </header>
  
      <div class="input-container">
        <mat-form-field>
          <input matInput [(ngModel)]="user.email" placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" placeholder="Senha">
          <button class="hide-button" mat-icon-button matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Esconder senha'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
  
      <button mat-button (click)="login()">Entrar</button>
    </main>
  </div>
</div>
