<mat-toolbar>
  <span>Learning Docs!</span>
</mat-toolbar>

<mat-drawer-container class="page-container">
  <mat-drawer mode="side" opened class="sidenav">
    <main-topics [topicId]="selectedTopicId"></main-topics>
  </mat-drawer>
  
  <mat-drawer-content>
    <main>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Anotações"> 
          <main-documents [topicId]="selectedTopicId"></main-documents>
        </mat-tab>
        <mat-tab label="Vídeos">
          <main-videos [topicId]="selectedTopicId"></main-videos>
        </mat-tab>
      </mat-tab-group>
    </main>

  </mat-drawer-content>

</mat-drawer-container>