#sign-up-container {
  width: 100%;
  height: 100vh;

  background: #dbc8ff;
  color: #36117e;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-up-container .banner-container {
  display: none;
  /* height: 40%;

  display: flex;
  justify-content: center;
  align-items: center; */
}

#sign-up-container .banner-container main {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #36117e;
}

#sign-up-container .banner-container main img {
  width: 60%;
  color: #fff;
}

#sign-up-container .banner-container main h1 {
  font: 500 4rem Roboto;
  margin-left: 20px;
}

#sign-up-container .form-container {
  background: #fff;
  border: 2px solid #cdb3ff;
  border-radius: 20px;
}

#sign-up-container .form-container main header a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #6918b4;
}

#sign-up-container .form-container main header .instructions {
  margin-top: 5rem;
}

#sign-up-container .form-container main header .instructions h1 {
  font-size: 2.8rem;
}

#sign-up-container .form-container main {
  padding: 40px;
}

#sign-up-container .form-container main .input-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sign-up-container .form-container main .input-container mat-form-field {
  width: 250px;
}

#sign-up-container .footer {
  margin-top: 30px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-up-container .footer button {
  color: #dbc8ff;
  background: #36117e;
  transition: background-color 0.2s;
}

#sign-up-container .footer button:hover {
  background: #4c18b4;
}
