section {
    margin: 3rem;
    -ms-overflow-style: none;
}

section .spinner {
    margin-top: 10rem;
    width: 100%;

    display: flex;
    justify-content: center;
}

section .message {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

section .grid-container {
    margin: 0 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

@media (max-width: 1070px) {
    section .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    section .grid-container {
        grid-template-columns: 1fr;
    }
}


section .card-container,
section .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .card-container {
    padding: 1rem 0;
    margin-bottom: 4rem;
}

section .card-container .card {
    width: 25rem;
}

section .card-container .card .title {
    font-size: 1.8rem;
}

section .card-container .card .content {
    font-size: 1.3rem;
}

section .card-container .card .title,
section .card-container .card .content {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.no-documents {
    color: #cdb3ff;
}