<div id="sidebar-container">
  <header>
    <button mat-mini-fab color="primary" (click)="createTopic()">
      <mat-icon>add</mat-icon>
    </button>

    <div class="input-container">
      <input type="text" placeholder="Adicionar" [(ngModel)]="topic.name">
      
      <button *ngIf="topic.name" class="close" (click)="topic.name=''">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </header>

  <div *ngIf="loading" class="spinner">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <div *ngIf="!loading && topics.length === 0" class="no-topics">
    <h3>Não há nenhum tópico :(</h3>
  </div>

  <div class="topics-container">
    <mat-list role="list">
      <div *ngFor="let topic of topics" class="topic-container">
        <button [ngClass]="{'active' : isActive(topic.id)}" mat-button (click)="selectTopic(topic.id)">{{ topic.name }}</button>
        <button mat-mini-fab color="primary" (click)="deleteTopic(topic.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list>
  </div>
</div>
