<div class="container">
    <div class="topic-input">
        <mat-form-field>
            <input matInput [(ngModel)]="topic.name" placeholder="Nome do tópico">
        </mat-form-field>
        <button mat-button (click)="createTopic()" color="primary">Novo tópico</button>
    </div>

    <div>
        <mat-list role="list">
            <div *ngFor="let topic of topics">
              <div class="topic-container">
                <button mat-button>{{ topic.name }}</button>
                <button (click)="deleteTopic(topic.id)" mat-mini-fab>
                    <mat-icon mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
        </mat-list>
    </div>
</div>
