<div id="sign-up-container">
  <div class="form-container">
    <main>
      <header>
        <a [routerLink]="['/']">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </a>
  
        <div class="instructions">
          <h1>Crie sua conta gratuita</h1>
          <p>É só preencher os seus dados nos campos a seguir.</p>
        </div>
      </header>
  
      <div class="input-container">
        <mat-form-field>
          <input matInput [(ngModel)]="user.name" placeholder="Nome">
        </mat-form-field>
    
        <mat-form-field>
          <input matInput [(ngModel)]="user.email" placeholder="Email">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput [(ngModel)]="user.password" placeholder="Senha">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput [(ngModel)]="inputConfirmPassword" placeholder="Confirme sua senha">
        </mat-form-field>
      </div>  
    
      <div class="footer">
        <button (click)="signUp()" mat-button>Cadastrar</button>
      </div>
    </main>
  </div>

  <div class="banner-container">
    <main>
      <img src="assets/docs.svg">
      <h1>Learning Docs!</h1>
    </main>
  </div>  
</div>