section .no-videos {
  margin-top: 3rem;
  color: #cdb3ff;
}

section .spinner {
  margin-top: 10rem;
  width: 100%;

  display: flex;
  justify-content: center;
}

section .message {
  display: flex;
  justify-content: center;
}

section .videos-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .videos-container header {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .videos-container header .input-container {
  position: relative;
  width: 40rem;
  margin-right: 3rem;
  border: 1px solid #cdb3ff;
  border-radius: 20px;
  padding: 1rem 1.5rem;
}

section .videos-container header .input-container input {
  border: none;
  width: 85%;
}

section .videos-container header .input-container input:focus {
  outline: none;
}

section .videos-container header .input-container button.close {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  margin-top: -1.2rem;

  width: 2.4rem;
  height: 2.4rem;
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
}

section .videos-container header button.close mat-icon {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

section .videos-container .video-container {
  margin-top: 30px;
  position: relative;
}

section .videos-container .video-container button {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

section .videos-container .video-container:hover button {
  opacity: 1;
  transform: translateX(-45px);
}
