.videos-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videos-container header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videos-container header .input-container {
  margin-right: 30px;
  position: relative;

  border: 1px solid #cdb3ff;
  border-radius: 20px;
  padding: 10px 15px;
  width: 150px;
}

.videos-container header .input-container input {
  border: none;
  width: 120px;
  background: #f5f5f5;
}

.videos-container header .input-container input:focus {
  outline: none;
}

.videos-container header .input-container button.close {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.videos-container header button.close mat-icon {
  font-size: 20px;
}

.videos-container .video-container {
  margin-top: 30px;
  position: relative;
}

.videos-container .video-container button {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.videos-container .video-container:hover button {
  opacity: 1;
  transform: translateX(-45px);
}

.videos-container .no-videos {
  margin-top: 40px;
  color: #cdb3ff;
}
